/*
    background and font
*/
body{
    background-image: url('/static/images/background3.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

/*
    side nav bar on all animals page 
*/
.list-group-item{
    font-size: large;
}

.list-group-item:hover{
    background-color: lightgray;
}

.list-group-item:active{
    background-color: lightgray;
}

.text-align-img{
    text-align: center;
}

/* 
    search bar 
*/
#search_animal{
    width: 50%;
}

/*
    animal image cards
*/
.card-img{
    height: 300px;
}

.animal-body-info{
    height: 300px;
}

/*
    jumbotron
*/
.jumbotron{
    background-color: rgba(233, 236, 239, 0.56);
    border-radius: 30px;
}

/*
    footer
*/
#page-footer{
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 80px;
}

.icon-colour{
    color: white;
}

.icon-colour:hover{
    color: grey;
}
