body{
    /*background-color: darkgray; */
    background-image: url('/static/images/background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.list-group-item{
    background-color: lightgray;
    font-size: large;
}

.list-group-item:hover{
    background-color: darkgrey;
    font-size: large;
}

.text-align-img{
    text-align: center;
}

.margin-top{
    margin-top: 30px;
}

.bold-text{
    font-weight: bold;
}

.h4-text-black{
    color:black;
}
