<!DOCTYPE html>
{% extends 'base.html' %} 
{% block content %}

<!--Sub Heading For Page-->
<div class="row pt-3 pb-3">
    <div class="col">
        <h2 class="text-center">Add An Animal</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form action="{{ url_for('insert_animal') }}" method="POST">
            <div class="form-group">
                <!--Animal Type-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_type">Animal Type:</label>
                    </div>
                    <div class="col-9">
                        <select class="form-control" name="animal_type" id="animal_type">
                            <option value="" disabled selected>Choose Animal Type</option>
                            {% for type in types %}
                                <option value="{{ type.animal_type }}">{{ type.animal_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!--Animal Name-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_name">Animal Name:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_name" id="animal_name" placeholder="Enter animal name here...">
                    </div>
                </div>
                <!--Animal Scientific Name-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_scientific_name">Animal Scientific Name:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_scientific_name" id="animal_scientific_name" placeholder="Enter animal scientific name here...">
                    </div>
                </div>
                <!--Animal Diet-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_diet">Animal Diet:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_diet" id="animal_diet" placeholder="Enter animal diet here...">
                    </div>
                </div>
                <!--Animal Average Lifespan-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_avg_lifespan">Animal Average Lifespan:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_avg_lifespan" id="animal_avg_lifespan" placeholder="Enter animal average lifespan here...">
                    </div>
                </div>
                <!--Animal Size-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_size">Animal Size:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_size" id="animal_size" placeholder="Enter animal size here...">
                    </div>
                </div>
                <!--Animal Weight-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_weight">Animal Weight:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_weight" id="animal_weight" placeholder="Enter animal weight here...">
                    </div>
                </div>
                <!--Animal Species-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_species">Animal Species:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_species" id="animal_species" placeholder="Enter animal species here...">
                    </div>
                </div>
                <!--Animal Image-->
                <div class="row pb-2">
                    <div class="col-3">
                        <label for="animal_species">Animal Image:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="animal_image" id="animal_image" pattern="https?://.+" placeholder="Enter animal image url here...">
                    </div>
                </div>
            </div>
            <!--Submit Button-->
            <div class="row">
                <div class="col-12 text-center">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
