{% extends 'base.html' %}
{% block content %}

<!--Sub Heading For Page-->
<div class="row pt-3 pb-3">
	<div class="col">
		<h2 class="text-center">Find Animal By Species</h2>
	</div>
</div>
<!--Main Content-->
<div class="row mt-1 pb-4 text-center">
    <div class="col-12">
        <form action="" method="POST">
            <div class="row">
                <!--Dropdown containing all animal species-->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <select class="form-control" name="animal_species" id="animal_species">
                        <option value="" disabled selected>Choose Animal Species</option>
                        {% for species in animals %}
                            <option value="{{ species.animal_species }}">{{ species.animal_species }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!--Dropdown containing all animal names for selected animal species-->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <select class="form-control" name="animal_name" id="animal_name">
                        <option value="" disabled selected>Choose Animal Name</option>
                        {% for name in animals %}
                            <option value="{{ name.animal_name }}">{{ name.animal_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        


        <!--Buttons Containg Letter-->
        <!--<div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="ab">A-B</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="cd">C-D</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="ef">E-F</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="gh">G-H</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="ij">I-J</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="kl">K-L</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="mn">M-N</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="op">O-P</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="qr">Q-R</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="st">S-T</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="uv">U-V</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="wx">W-X</button>
                <button type="button" class="btn btn-primary btn-lg speciesButton" id="yz">Y-Z</button>
            </div>
        </div>-->
    </div>
</div>

{% endblock %}
