{% extends 'base.html' %}
{% block content %}

<!--Sub Heading For Page-->
<div class="row pt-3 pb-3">
	<div class="col">
		<h2 class="text-center">Find Animal By Species</h2>
	</div>
</div>
<!--Main Content-->
<div class="row mt-1 pb-4 text-center">
    <div class="col-12">
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="ab">A-B</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="cd">C-D</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="ef">E-F</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="gh">G-H</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="ij">I-J</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="kl">K-L</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="mn">M-N</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="op">O-P</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="qr">Q-R</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="st">S-T</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="uv">U-V</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="wx">W-X</button>
        <button type="button" class="btn btn-primary btn-lg speciesButton" id="yz">Y-Z</button>
    </div>
</div>

{% endblock %}
