{% extends 'base.html' %}
{% block content %}

<div class="row text-center pt-4 pb-4">
    <div class="col">
        <h2>Facts About Animals</h2>
    </div>
</div>
<div class="row text-center pb-5">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <span class="border border-dark">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Accusamus, rem fugit. Nesciunt quibusdam, similique, atque 
                        fugiat modi earum omnis ab magni quo minima iste voluptates 
                        molestias velit sunt cupiditate a.
                    </p>
                </span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Accusamus, rem fugit. Nesciunt quibusdam, similique, atque 
                    fugiat modi earum omnis ab magni quo minima iste voluptates 
                    molestias velit sunt cupiditate a.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
