{% extends 'base.html' %}
{% block content %}

<div class="row text-center pt-4 pb-4">
    <div class="col">
        <h2>Facts About Animals</h2>
    </div>
</div>
<div class="row text-center pb-5">
    <div class="col-12">
        <!--Search bar for animal search-->
        <div class="row pt-3 pb-3 text-center">
            <div class="col">
                <form action="{{ url_for('search_animal') }}" method="GET">
                    <span><i class="fas fa-search"></i></span>
                    <input type="search" name="search_animal" id="search_animal">
                    <button type="submit" class="btn btn-danger" id="search_btn" aria-placeholder="Find an animal here...">Search</button>
                </form>
            </div>
        </div>
        <div class="row pt-5">
            <!--Carousel of animal images-->
            <div class="col">
                <h5>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Aliquam quibusdam asperiores possimus, sunt repudiandae, 
                    adipisci ab at repellat sed pariatur accusantium eius, obcaecati 
                    rem tempora vitae qui quae. Assumenda, provident.
                </h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}
