{% extends 'base.html' %}
{% block content %}

<!--Sub Heading For Page-->
<div class="row pt-3 pb-3">
	<div class="col">
		<h2 class="text-center">Animals <span id="animalsTitle"></span></h2>
	</div>
</div>
<!--Main Content-->
<div class="row pt-3 mb-2">
	<div class="col-12">
		{% for animal in animals %}
        <div class="card mb-3 text-white bg-dark animal-card {{ animal.animal_type }}">
					<div class="row no-gutters">
						<div class="col-md-5">
							<img src="{{ animal.animal_image }}" class="card-img text-center animal-image" alt="{{ animal.animal_name }}">
                        </div>
						<div class="col-md-7">
							<div class="card-body animal-body-info">
								<h4 class="card-title text-center">{{ animal.animal_name }}</h4>
								<p class="card-text"><strong>Type:</strong> {{ animal.animal_type }}</p>
								<p class="card-text"><strong>Scientific Name:</strong> {{ animal.animal_scientific_name }}</p>
								<p class="card-text"><strong>Diet:</strong> {{ animal.animal_diet }}</p>
								<p class="card-text"><strong>Size:</strong> {{ animal.animal_size }}</p>
								<p class="card-text"><strong>Weight:</strong> {{ animal.animal_weight }}</p>
								<p class="card-text"><strong>Species:</strong> {{ animal.animal_species }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>


{% endblock %}
